@model IEnumerable<RentalKendaraan_076.Models.Kendaraan>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaKendaraan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoPolisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoStnk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ketersediaan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJenisKendaraanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaKendaraan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoPolisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoStnk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ketersediaan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJenisKendaraanNavigation.IdJenisKendaraan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKendaraan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdKendaraan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKendaraan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
