@model IEnumerable<RentalKendaraan_076.Models.Pengembalian>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TglPengembalian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Denda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKondisiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPeminjamanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TglPengembalian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKondisiNavigation.IdKondisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPeminjamanNavigation.IdPeminjaman)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPengembalian">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPengembalian">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPengembalian">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
