@model RentalKendaraan_076.Models.Peminjaman

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Peminjaman</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TglPeminjaman)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TglPeminjaman)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdKendaraan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdKendaraan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biaya)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biaya)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCustomerNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCustomerNavigation.IdCustomer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdJaminan1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdJaminan1.IdKendaraan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdJaminanNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdJaminanNavigation.IdJaminan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPeminjaman">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
