@model IEnumerable<RentalKendaraan_076.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoHp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGenderNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoHp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenderNavigation.IdGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCustomer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCustomer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCustomer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
